* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 24px;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin-left: 16px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
