@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

nav {
  background-color: rgba(0, 0, 128, 0.819);
}

.container {
  padding: 60px;
}

.row {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
    

.nav__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 24px 40px 24px;
}

.nav__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__title {
  border: solid 2px black;
  padding: 2px 8px;
  letter-spacing: 2px;
  font-weight: 900;
  font-size: 24px;
  color: white;
}

.nav__links {
  display: flex;
}

.nav__link {
  color: white;
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.search__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.search__label {
  font-size: 30px;
  letter-spacing: 1.5px;
  margin: 60px 0 30px 0;
  color: white;
}

form {
  max-width: 480px;
  width: 100%;
}

.search__bar {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.search__input {
  border-radius: 100px;
  padding: 10px;
  width: 100%;
  font-size: 20px;
  border: none;
}

.fa-magnifying-glass {
  border: none;
  color: navy;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.search__heading {
  padding-bottom: 30px;
}

.movie__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  width: calc(100% / 3);
  padding: 20px 40px 20px 0;
}

.movie__img {
  max-width: 250px;
  width: 100%;
}

.movie__title{
  margin-top: 8px
}

.movie__year {
  font-size: 18px;
  margin-top: 10px;
}

.movie__id {
  font-size: 14px;
  margin-top: 8px;
}