@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

li {
  list-style: none;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 20px 24px;
}

.nav__bar {
    justify-content: space-between;
}
.nav__links {
  display: flex;
}

.nav__link {
  margin-left: 16px;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.search__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.search__bar {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 480px;
  position: relative;
}

.search__input {
  border-radius: 100px;
  padding: 4px 10px;
  width: 100%;
}

.fa-magnifying-glass {
  border: none;
  color:blueviolet;
  background-color: transparent;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%,-50%);
}